a{
    color: #dddddd;
    font-style: normal;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    text-decoration: underline;
}

*{
    background-color: #000000;
    color: #bbbbbb;
    font-family: Consolas,"Courier New",Courier,"Migu 1M","ÉÅÉCÉäÉI";
}

.top{
    margin:         100px 100px 100px 100px;
    text-align:     left;
    font-size:      20px;
    line-height:    30px;
}

.small{
    margin:         80px 80px 80px 80px;
    text-align:     left;
    font-size:      16px;
    line-height:    26px;
}

.chap{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.vsmall{
    font-size: 12px;
}

.portrait{
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    bottom: 80px;
    right: 80px;
}
