@font-face {
    font-family:     "yutapon";
    src:            url("yutapon_coding_081.woff") format('woff');
}
@font-face {
    font-family:     "mplus";
    src:            url("mpwebfont-regular.woff") format('woff');
}

a{
    color: #666666;
    font-style: normal;
    text-decoration: none;
}

a:hover{
    color: #000000;
    text-decoration: underline;
}

*{
    font-family:    "mplus";
}

.top{
    margin:         100px 100px 100px 100px;
    text-align:     left;
    font-size:      20px;
    line-height:    60px;
}

.small{
    margin:         80px 80px 80px 80px;
    text-align:     left;
    font-size:      16px;
    line-height:    26px;
}

.portrait{
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    bottom: 80px;
    right: 80px;
}
